.App {
  width: 100%;
}

.mainContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.header{
  font-family: "Roboto";
  text-align: center;
}

.play-regular {
  font-family: "Play", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.play-bold {
  font-family: "Play", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.oxanium-Light {
  font-family: "Oxanium", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.whiteColor{
  color: white !important;
}
